.jumbotron {
    padding-top: 8rem;
    background-color: #e2edff;
}

#Portfolio {
    background-color: #e2edff;
}

#BLOG {
    background-color: #e2edff;
}

.card-blog {
    width: 300px;
    height: 600px;
    border-radius: 100%;
}

section { 
    padding-top: 5rem;
}